{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
<h1>Toutes les catégories de la table catégory : </h1>
{% for category in categories %}
<div>
    <h2>{{ loop.index }} / {{ category.name }} </h2>
    <a href="{{ path('category_show', { categoryName: category.name }) }}">Voir la catégorie</a>
</div>
{% else %}
Aucune catégorie trouvée.
{% endfor %}
{% endblock %}