{% extends "base.html.twig" %}

{% block body %}
<div class="m-5">
    <h1>Ajouter une série</h1>
    {{ form_start(form )}}
    {{ form_widget(form )}}
    <button type="submit">Add Program</button>
    {{ form_end(form )}}
</div>
{% endblock body %}