$primary: (#262A56);
$secondary: (#E3CCAE);
$orange: (#B8621B);
@import "~bootstrap/scss/bootstrap";

body {
    color: #262A56;
}

ul {
    list-style-type: none;
    padding: 0;
}

.card {
    border: 0.3rem solid;
    border-color: $secondary;
    box-shadow: 5px 5px 25px -3px #000000;
}

hr {
    border-top: 0.1rem solid $secondary;
}

.btn {
    border-radius: 5rem;
    border-color: $orange;
    border-width: 0.15rem;
    background-color: $secondary;
}

.btn:hover {
    border-radius: 5rem;
    border-color: $secondary;
    background-color: $orange;
    border-width: 0.15rem;
}