{% extends "base.html.twig" %}

{% block title %}
Wild Series
{% endblock title %}

{% block body %}

<body>
    <h1 class="text-center m-3">{{ website }} Bienvenue !</h1>
    <img class="center" src="{{ asset('build/images/logo.png') }}" alt="">
</body>
{% endblock body %}