{% extends "base.html.twig" %}

{% block title %}
Wild Series
{% endblock title %}

{% block body %}

<body>
    <h1>{{ website }} Bienvenue !</h1>
    <img src="{{ asset('build/images/logo.png') }}" alt="">
</body>
{% endblock body %}