<nav class="navbar primary navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-secondary" href="#">Wild Séries</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon secondary"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-secondary" aria-current="page" href="{{ path('app_index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="{{ path('program_index')}}">Program</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="{{ path('category_index')}}">Categorie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>